<!DOCTYPE html>
<html lang="en"> #defines language
    <head>
        <meta charset="UTF-8"> #defines character set
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/bootstrap.min.css"> #defines location of css style sheet
        <script src="/js/bootstrap.min.js"></script>  #defines location of bootstrap javascript
        <script src="/js/jquery.min.js"></script> #defines location of jquery javascript
        <style type="text/css">
.h-divider{
 margin-top:5px;
 margin-bottom:5px;
 height:3px;
 width:100%;
 border-top:1px solid #DEDEDE;
}
</style>
        <title>Home</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col align-self-center">
                        <h1 class="text-center display-1">OSINT Toolset</h1>
                </div>
            </div>
            <form method="POST" name="request">
            <div class="row" style="margin-top:50px">
                <div class="col align-self-left text-center">
                    <h1>
                        
                        <input list="input" class="form-control" placeholder="Input" name="input" autocomplete="off"/>
                        <input type='hidden' name='input-submit'>
                        <datalist id="input">
                            {% for type in types %}
                                <option value="{{type}}"/>
                            {% endfor %}
                        </datalist>
                    </h1>
                </div>
                <div class="col align-self-center text-center">

                </div>
                <div class="col align-self-right text-center">
                    <h1>
                        <input list="output" class="form-control" placeholder="Output" name="output" autocomplete="off"/>
                        <input type='hidden' name='output-submit'>
                        <datalist id="output">
                            {% for type in types %}
                                <option value="{{type}}"/>
                            {% endfor %}
                        </datalist>
                        
                        <!-- Submit Handler -->
                        <input type=submit hidden> 

                    </h1>
                </div>
            </div>
            </form>
             <div class="container">

                <ul class="list-group" style="margin-top:-200px; margin-left:225px">
                <h1 style="text-align:center; margin-top:-50px">{{output_empty_check}}</h1>
                <div style="height:1200px;width:1200px;border:0px solid #ccc; Serif;overflow:auto;">
                    {% for x in range(link_list|length) %}
                    <li class="panel-heading{{x}} list-group-item" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <a class="panel-heading{{x}}" href="{{link_list[x]}}"><h1 style="text-align:center">{{domain_list[x]}}<h1></a>
                        <div style="display:none" class="panel-heading{{x}} panel-collapse{{x}}" id="collapseExample">
                            <h6 class="panel-heading{{x}}" style="text-align:center">{{desc_list[x]}}<h6>
                            <div class="h-divider"></div>
                            <h4 style="text-align:center">Output</h4>
                            <h6 style="text-align:center">{{out_list[x]}}</h6>
                        </div>
                    </li>
                    {% endfor %}
                </div>
                </ul>
             </div>
        </div>
    </body>

<script>
  $('.request').on('submit', function() {
    $('[name="input-submit"]').val($('[name="input"]').val());
    $('[name="input"]').val('');
    $('[name="output-submit"]').val($('[name="output"]').val());
    $('[name="output"]').val('');
  });
</script>
     <script>
        {% for x in range(link_list|length) %}
            $(document).ready(function(){
                var a = setTimeout(function(){}, 1000);
                $(".panel-heading{{x}}").mouseenter(function () {
                    clearTimeout(a);
                    $(".panel-collapse{{x}}").fadeIn();
                    a = setTimeout(function(){}, 1000);
                });
                $(".panel-heading{{x}}").mouseleave(function () {
                    a = setTimeout(function(){
                     $(".panel-collapse{{x}}").fadeOut();
                    }, 500);
                    
                });
            });
        {% endfor %}
        </script>   

</html>