<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/materialize.min.css">
        <script src="/js/materialize.min.js"></script>
        <title>Home</title>
    </head>
    <body>
        <div class="container">
            <center>
            <h1 class="center-align">OSINT Toolset</h1>
            </center>
            <left><h1><select>
                <option value="name">name</option>
                <option value="email">email</option>
            </select></h1></left>
            <center><h1>{{ output }}</h1></center>
        <right><h1><select>
            <option value="adress">adress</option>
            <option value="phone number">phone number</option>
        </select></h1></right>
            </h1>
        </div>

    </body>
</html>
